.land-middle {
	flex: 1 1 auto;
	width: 100%;

	background: #fff;

	&__container {
		display: flex;
		flex: 1 1 auto;
	}
	&__left {
		display: flex;
		padding: 79px 0 79px 55px;
		flex: 1 1 50%;
	}

	&__right {
		padding-left: 25px;
		display: flex;
		flex: 1 1 50%;
	}

	// * left side
	&__item {
		position: relative;
		align-self: center;
		width: 338px;
		height: 542px;
	}

	&__rectangle-a {
		position: absolute;
		width: 229px;
		height: 459px;
		left: 71px;
		top: 56px;

		background: url(../img/dailyUi.png);
		filter: drop-shadow(2px 4px 32px rgba(0, 0, 0, 0.12));
		border-radius: 16px;
		z-index: 2;
	}

	&__rectangle-b {
		position: absolute;
		width: 147px;
		height: 147px;
		left: 0;
		top: 0;

		background: #EC5863;
		border-radius: 30px;
	}

	&__rectangle-c {
		position: absolute;
		width: 77px;
		height: 77px;
		left: 32px;
		bottom: 0;

		background: #EC5863;
		border-radius: 30px;
	}

	&__rectangle-d {
		position: absolute;
		width: 77px;
		height: 77px;
		right: 0;
		bottom: 107px;

		background: #EC5863;
		border-radius: 30px;
	}

	&__rectangle-f {
		position: absolute;
		left: 83px;
		top: 500px;
		width: 206px;
		height: 27px;

		background: rgba(240, 240, 240, 0.49);
		border-radius: 16px;
		z-index: 5;
	}

	//  * right siege
	&__registration {
		left: 25px;
		align-self: center;
		max-width: 379px;
		max-height: 238px;
	}

	&__registration h1 {
		font-family: "Rubik", serif;
		font-style: normal;
		font-weight: 700;
		font-size: 44px;
		line-height: 126%;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #000000;
	}

	&__registration p {
		padding: 7px 0;
		font-family: "Rubik", serif;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 138.5%;
		letter-spacing: 0.08em;
		font-feature-settings: 'pnum' on, 'lnum' on;
		color: #616161;
	}

	&__registration span {
		color: #ec5863;
	}


	&__registration .button_red {
		width: 144px;
	}
}